name: Code linting

on:
    pull_request:
      branches: ["main"]
    workflow_dispatch: # build on demand

permissions:
  contents: read
  # allow read access to pull request. Use with `only-new-issues` option.
  pull-requests: read

jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v5
        with:
          go-version: '1.25'
          cache: false
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v8
        with:
          version: v2.7

          # show only new issues if it's a pull request. The default value is `false`.
          only-new-issues: true
          args: --timeout=5m --output.tab.colors 
